{% for empleado in dataBusqueda %}
<tr id="empleado_{{ empleado.id_Clientes }}">
  <td>{{ loop.index }}</td>
  <td>{{ empleado.nombre }}</td>
  <td>{{ empleado.apellido }}</td>
  <td>{{ empleado.nif }}</td>
  <td>{{ empleado.telefono }}</td>
  <td>
    <a
      href="/detalles-empleado/{{ empleado.id_Clientes }}"
      title="Ver detalles"
      type="button"
      class="btn btn-info btn-sm"
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<span>Ver detalles</span>">
      <i class="bi bi-eye"></i>
      Ver detalles
    </a>
    <a
      href="{{ url_for('viewEditarCliente', id = empleado.id_Clientes) }}"
      class="btn btn-success btn-sm"
      tooltip="Actualizar Registro">
      <i class="bi bi-arrow-clockwise"></i>
      Actualizar
    </a>
    <a
      href="#"
      onclick="eliminarEmpleado('{{ empleado.id_Clientes }}');"
      class="btn btn-danger btn-sm"
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<span>Eliminar empleado {{ empleado.nombre }}</span>">
      <i class="bi bi-trash3"></i>
      Eliminar
    </a>
  </td>
</tr>

{% endfor %}
