{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Registrar Equipo{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">REGISTRAR NUEVO EQUIPO</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <h4>Registrar equipo para: {{ nombre }} {{ apellido }}</h4>
      <form
        class="form-horizontal mx-auto"
        method="POST"
        action="/form-registrar-equipo"
        autocomplete="off"
        enctype="multipart/form-data">
        <!--Guardo el id_Cliente al que pertenece el equipo-->
        <input type="hidden" 
        name="id_cliente" 
        value="{{ id_cliente }}">
        <!---->
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="marca_equipo" class="form-label">
                Marca del equipo
              </label>
              <input
                type="text"
                name="marca_equipo"
                class="form-control"
                required />
            </div>
            <div class="col-md-6">
              <label for="modelo_equipo" class="form-label">
                Modelo del equipo
              </label>
              <input
                class="form-control"
                type="text"
                name="modelo_equipo"
                required />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="ns_equipo" class="form-label">
                Número de serie
              </label>
              <input
                class="form-control"
                type="text"
                name="ns_equipo"
                required />
              <!--<label for="sexo_empleado" class="form-label">
                Sexo del empleado
              </label>
              <select
                class="form-select"
                name="sexo_empleado"
                aria-label="Default select example">
                <option selected>Seleccione</option>
                <option value="1">Masculino</option>
                <option value="2">Femenino</option>
              </select>-->


            </div>
            <div class="col-md-6">
              <label for="garantia_equipo" class="form-label">
                Garantía
              </label>
              <select
                class="form-select"
                name="garantia_equipo"
                aria-label="Default select example">
                <option selected>Seleccione</option>
                <option value="1">SI</option>
                <option value="2">NO</option>
              </select>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="mesesgarantia_equipo" class="form-label">
                Meses de garantía
              </label>
              <input
                class="form-control"
                type="text"
                name="mesesgarantia_equipo"
                required />
            </div>
            <div class="col-md-6">
              <label for="compra_equipo" class="form-label">
                Comprada en BIOMEX 
              </label>
              <select
                class="form-select"
                name="compra_equipo"
                aria-label="Default select example">
                <option selected>Seleccione</option>
                <option value="1">SI</option>
                <option value="2">NO</option>
              </select>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <!--<label for="salario_empleado" class="form-label">
                Salario del empleado
              </label>
              <input
                class="form-control"
                type="text"
                name="salario_empleado"
                id="salario_empleado"
                required />-->
              <label for="fecha_equipo" class="form-label">
                Fecha de compra
              </label>
              <input
                class="form-control"
                type="date"
                name="fecha_equipo"
                required />
            </div>
            <div class="col-md-6">
            <label for="comentario_equipo" class="form-label">
                Comentario
              </label>
              <input
                class="form-control"
                type="text"
                name="comentario_equipo"
                required />
          </div>
        </div>
          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary">
              Guardar registro ahora
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}
